<div style="width:100%; height:500px"><div class='container text-light'>
<div class='redOutline container align-items-center bg-dark col-12'>
  <header class="">
    {{ pageTitle }}
  </header>
  </div>
</div>

<div class='redOutline container bg-light'>
  <div class='container redOutline row bg-light justify-content-center align-items-center' style="height:200px">
    <div class='col-md-12'>
      <div class='d-flex p-5 flex-row'>
        <div class='col-md-1'>Name</div>
        <div class='col-md-6'>Comic Book</div>
        <div class='col-md-1'>Name</div>
        <div class='col-md-4'>Comic</div>
      </div>
      <div class='d-flex p-5 flex-row align-items-baseline'>
        <div class='col-md-1 h5'>Name</div>
        <div class='col-md-6'>Anime Manga</div>
        <div class='col-md-1'>Name</div>
        <div class='col-md-4'>Comic Book</div>
      </div>
    </div>
  </div>

</div>
</div>